.commentsArea > h3 
{
    color: rgb(78, 78, 78);
    text-align: center;
    font-weight: 400;
}

.similarProducts > h3 
{
    color: rgb(78, 78, 78);
    text-align: center;
    font-weight: 400;
}

