.campaignContainer {
  display: grid;
  width: 85%;
  margin: 0 auto;
  margin-top:3%;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3%;
  grid-row-gap: 3%;
}


.campaignTextWrapper {
  background-color: black;
  height: 5vh;
}

.campaignText {
  color: white;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

