.mainButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  margin-top: 5vh;
}

.buttonItemMain1 {
  background: rgb(9, 177, 144);
  background: linear-gradient(
    90deg,
    rgba(9, 177, 144, 1) 0%,
    rgba(82, 190, 96, 1) 35%,
    rgba(147, 201, 62, 1) 100%
  );
  border-radius: 10px;
  width: 25vw;
  height: 7vh;
  color: white !important;
  font-weight: 700;
}

.buttonItemMain2 {
  background: rgb(141, 45, 227);
  background: linear-gradient(
    90deg,
    rgba(141, 45, 227, 1) 0%,
    rgba(108, 24, 222, 1) 35%,
    rgba(76, 2, 224, 1) 100%
  );
  border-radius: 10px;
  width: 25vw;
  color: white !important;

  height: 7vh;
  font-weight: 700;
}

.buttonItemMain3 {
  background: rgb(255, 108, 18);
  background: linear-gradient(
    90deg,
    rgba(255, 108, 18, 1) 0%,
    rgba(255, 93, 68, 1) 35%,
    rgba(255, 74, 133, 1) 100%
  );
  border-radius: 10px;
  width: 25vw;
  height: 7vh;
  color: white !important;
  font-weight: 700;
}
