.carousel{
    overflow: hidden;
    position: relative;
    padding-bottom: 3%;
}

.inner{
    white-space: nowrap;
    transition: transform 0.3s;
}

.carousel-item{
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #F9F4F0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 270px;
    margin-left:1%; 
    color: black
}

.indicators{
    position: absolute;
    bottom:60%;
    width:100%;
    display: flex;
    justify-content: space-between;
}

.indicators > button{
    background-color: rgb(255, 255, 255);
    border:3px solid grey;
    margin: -2vw;  
    border-radius: 50%;
    padding:1%;
}

